.adminCard {
  background-color: rgb(79, 148, 209);
  height: 200px;
  width: 350px;
  margin: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.adminCard__role {
  font-weight: 700;
  font-size: 30px;
}
.adminCard__ctc {
  font-size: 20px;
  font-weight: 500;
}
.adminCard_second {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.adminCard__btn {
  background-color: rgb(226, 164, 98);
  border-radius: 10px;
  font-size: 15px;
  width: 150px;
  box-shadow: 1px 1px 1px 1px grey;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  color: black;
}
.adminCard__footer {
  display: flex;
  width: 80%;

  margin-top: 20px;
  justify-content: space-between;
}
.adminCard_status {
  display: flex;
}
.adminCard__date {
  font-weight: bolder;
}
