.dashboard {
  display: flex;
}
.dashboard__sider {
  min-height: 100vh;
  height: fit-content;
  width: 150px;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: #001529;
  align-items: center;
  position: fixed;
}
.dashboard__siderItem {
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  text-align: center;
  height: 70px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__siderItem:hover {
  background-color: #1890ff;
}
.dashboard__main {
  min-height: 100vh;
  height: fit-content;
  width: 90vw;
}
